<template lang="pug">
  .hero(:style="heroComponentStyle")
    div(:style="heroContainerStyle")
      div(:style="titleStyle") {{title}}
      div(:style="copyStyle") {{copy}}
      div(:style="ctaContainerStyle")
        div(id="ctaButton", @click="openCtaUrl") {{ctaText}}
</template>

<script>
export default {
  props: {
    title: { type: String, required: true },
    image: { type: String, default: "" },
    mobileImage: String,
    colorPicker: { type: String, default: "#fff" },
    textAlignment: { type: String, required: true },
    copy: { type: String, default: "" },
    ctaText: { type: String, default: "" },
    ctaUrl: { type: String, default: "" }
  },
  computed: {
    heroComponentStyle() {
      const alignments = {
        left: "flex-start",
        center: "center",
        right: "flex-end"
      }
      let background = "#fff"
      if (this.desktopMode) {
        if (this.image.length > 0) {
          background = `url(${this.image})`
        }
      } else {
        if (this.mobileImage.length > 0) {
          background = `url(${this.mobileImage})`
        }
      }
      return {
        width: '100%',
        height: this.desktopMode ? '500px' : '640px',
        background: background,
        margin: '100px 0px',
        display: 'flex',
        alignItems: 'center',
        justifyContent: this.desktopMode ? alignments[this.textAlignment] : "center",
        padding: this.desktopMode ? "0px 70px" : "0px 40px"
      }
    },
    titleStyle() {
      return {
        fontSize: this.desktopMode ? '46px' : '36px',
        fontWeight: 'bold',
        color: this.colorPicker,
        fontFamily: `'Roboto', sans-serif`
      }
    },
    copyStyle() {
      return {
        fontSize: this.desktopMode ? '24px' : '18px',
        color: this.colorPicker,
        fontFamily: `'Roboto', sans-serif`,
        fontWeight: 300
      }
    },
    heroContainerStyle() {
      let textAlign = "center"
      if (this.textAlignment != "center" && this.desktopMode) {
        textAlign = "left"
      }
      return {
        maxWidth: this.desktopMode ? '50%' : '100%',
        textAlign: textAlign
      }
    },
    ctaContainerStyle() {
      let align = "center"
      if (this.textAlignment != "center" && this.desktopMode) {
        align = "flex-start"
      }
      return {
        display: 'flex',
        marginTop: '30px',
        justifyContent: align
      }
    },
    desktopMode() {
      return this.winWidth > 768
    }
  },
  methods: {
    openCtaUrl() {
      if (this.ctaUrl.length > 0) {
        window.open(this.ctaUrl)
      }
    },
    onResize() {
      this.winWidth = window.innerWidth
    }
  },
  data() {
    return {
      winWidth: window.innerWidth
    }
  },
  mounted() {
    window.addEventListener("resize", this.onResize)
  },
  beforeDestroy() {
    window.removeEventListener("resize", this.onResize)
  }
};
</script>

<style scoped lang="scss">
#ctaButton {
  color: #FFF;
  background-color: #57AD68;
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-size: 20px;
  border-radius: 100px;
  padding: 15px 50px;
  cursor: pointer;
  width: max-content;

  &:hover {
    color: #57AD68;
    background-color: #FFF;
  }
}
</style>
